.content h1{
  text-align: center;
}

.fenge{
  width: 100%;
  height: 50px;
}

.showDetail{
  margin-bottom: 10px;
}

.exitButton{
  float: right;
  background-color: #5677FC;
  color: #fff;
}

.modifyPas{
  float: right;
  margin-right: 20px;
}

.contentTitle{
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 40px;
}

.floatRight{
  float: right;
}